<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="container">
        <div class="col-md-5">
          <img src="http://placekitten.com/300/400" alt="">
        </div>
        <div class="col-md-7">
          <h1>{{$ctrl.movie.name}}</h1>
          <p>{{$ctrl.movie.description}}</p>

          <p ng-if="$ctrl.movie.isLiked">I Liked it</p>
          <a ui-sref="movieDetails.comments" class="btn btn-info">Show CommentsList</a>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-md-12" ui-view>

  </div>
</div>
