<div>
  <table class="table movie-list">
    <thead>
    <tr>
      <th>Movie Name</th>
      <th>Year</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!--liked first-->
    <tr ng-repeat="movie in $ctrl.movies | filter:{isLiked: true}" class="liked">
      <td><a href="/movie/{{movie.imdbID}}">{{movie.Title}}</a></td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Type}}</td>
      <td>
        <button type="button" class="btn btn-link btn-like" ng-click="$ctrl.switchLike(movie)">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
        <button type="button" class="btn btn-link btn-dislike" ng-click="$ctrl.switchDislike(movie)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        <add-button movie="movie"></add-button>
      </td>
    </tr>
    <!--then unspecified-->
    <tr ng-repeat="movie in $ctrl.movies | filter:{isLiked: null}" class="unspecified">
      <td><a href="/movie/{{movie.imdbID}}">{{movie.Title}}</a></td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Type}}</td>
      <td>
        <button type="button" class="btn btn-link btn-like" ng-click="$ctrl.switchLike(movie)">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
        <button type="button" class="btn btn-link btn-dislike" ng-click="$ctrl.switchDislike(movie)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        <add-button movie="movie"></add-button>
      </td>
    </tr>
    <!--then disliked-->
    <tr ng-repeat="movie in $ctrl.movies | filter:{isLiked: false}" class="disliked">
      <td><a href="/movie/{{movie.imdbID}}">{{movie.Title}}</a></td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Type}}</td>
      <td>
        <button type="button" class="btn btn-link btn-like" ng-click="$ctrl.switchLike(movie)">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
        <button type="button" class="btn btn-link btn-dislike" ng-click="$ctrl.switchDislike(movie)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        <add-button movie="movie"></add-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
