<div>
  <table class="table movie-list">
    <thead>
    <tr>
      <th>Movie Name</th>
      <th>Director</th>
      <th>Genre</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!--liked first-->
    <tr ng-repeat="movie in $ctrl.movies | filter:{isLiked: true}" class="liked">
      <td><a href="/movie/{{movie.id}}">{{movie.name}}</a></td>
      <td>{{movie.director}}</td>
      <td>{{movie.genre}}</td>
      <!--asdfas-->
      <td>{{movie.description}}</td>
      <td>
        <button type="button" class="btn btn-link btn-like" ng-click="$ctrl.switchLike(movie)">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
        <button type="button" class="btn btn-link btn-dislike" ng-click="$ctrl.switchDislike(movie)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
      </td>
    </tr>
    <!--then unspecified-->
    <tr ng-repeat="movie in $ctrl.movies | filter:{isLiked: null}" class="unspecified">
      <td><a ui-sref="movieDetails({id: movie.id})">{{movie.name}}</a></td>
      <td>{{movie.director}}</td>
      <td>{{movie.genre}}</td>
      <td>{{movie.description}}</td>
      <td>
        <button type="button" class="btn btn-link btn-like" ng-click="$ctrl.switchLike(movie)">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
        <button type="button" class="btn btn-link btn-dislike" ng-click="$ctrl.switchDislike(movie)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
      </td>
    </tr>
    <!--then disliked-->
    <tr ng-repeat="movie in $ctrl.movies | filter:{isLiked: false}" class="disliked">
      <td><a href="/movie/{{movie.id}}">{{movie.name}}</a></td>
      <td>{{movie.director}}</td>
      <td>{{movie.genre}}</td>
      <td>{{movie.description}}</td>
      <td>
        <button type="button" class="btn btn-link btn-like" ng-click="$ctrl.switchLike(movie)">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
        <button type="button" class="btn btn-link btn-dislike" ng-click="$ctrl.switchDislike(movie)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
