<div class="container">
  <div class="row">
    <form class="col-md-4 col-md-offset-4 login-form" name="$ctrl.form"
          ng-submit="$ctrl.login($ctrl.user)">

      <div class="form-group login-header row">
        <h2 class="col-md-12">Login form</h2>
      </div>
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login"
               placeholder="Login" required="true" ng-model="$ctrl.user.login">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               placeholder="Password" required="true" ng-model="$ctrl.user.password">
      </div>
      <div class="login-form__btns">
        <input type="submit" class="btn btn-info" value="Submit">
      </div>
    </form>
  </div>
</div>

